<br><br><br><br>

<div>
    <h1> {{lug.nombreEvento}}</h1>
</div>


<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-8">

        <img src={{lug.imagenes}} class="mediana">
        <div class="col-md-1"></div>
    </div>

    <br><br><br>
    <div class="container">
        <div class="col-md-12">


            <h2 id="cor">Categoria</h2> <p id="con">{{lug.categoria}}</p>

        </div>
    </div>

    <br>
    <div class="container">
        <div class="col-md-12">


            <p id="cor">Nombre del Evento</p> <p id="con">{{lug.nombreEvento}}</p>

        </div>
    </div>
    <br><br><br>

    <div class="container">
        <div class="col-md-12">


            <p id="cor">Lugar del Evento</p><p id="con"> {{lug.lugar}}</p>

        </div>
    </div>
    <br>

    <div class="container">
        <div class="col-md-12">


           <p id="cor"> Descripcion de la {{lug.categoria}}</p>

        </div>

    </div>


    <div class="container">
        <div class="col-md-12">


            <p id="con">  {{lug.descripcionFeriayFiesta}}</p>

        </div>

    </div>


    <div class="container">
        <div class="col-md-12">

           
         <h2 id="cor">   Fechas del evento</h2>

        </div>
    </div>



    <div class="container">
        <div class="col-md-12">


            <p id="cor">Fecha de inicio</p> <p id="con">{{lug.fechaInicio}}</p>

        </div>
    </div>


    <div class="container">
        <div class="col-md-12">


            <p id="cor">Fecha de Fin</p><p id="con"> {{lug.fechaFin}}</p>

        </div>
    </div>



    <div class="container">
        <div class="col-md-12">

            <p id="con">  Puedes ver un video sobre este evento</p> <a href={{lug.video}} id="cor">aqui</a>

        </div>
    </div>






    <br><br><br>
</div>