<div class="col-md-8" align ="justify">     
    

    <img src="./../assets/img/FONDOS/7.jpg" alt=""  class="img-fluid">

<p>
    Los paisajes del Valle del Cocora, en pleno corazón del Eje Cafetero hacen parte de la lista Patrimonios de la Humanidad de la UNESCO y com0 pueden imaginar es uno de esos paisajes en Colombia, que te dejan sin aliento. De hecho, lo más hermoso y sorprendente de Colombia; además de toda su gente, son los cientos y cientos de pequeños paraísos que se encuentran a lo largo y ancho de todo el territorio nacional. Nevados, montañas verdes, ríos de colores, inmensos desiertos, una ciudad perdida en medio de montañas, playas e islas incomparables, entre otros hacen parte de la cuota que ocasiona que extranjeros y los mismos colombianos no se cansen de recorrerla.
    <br>
    Hoy, te presentamos el Valle del Cocora; ubicado en Salento, Quindio, es una Reserva Natural que alberga las palmas de cera más altas del mundo (más de 60 metros de altura), y que además son símbolo nacional de Colombia. Para tener en cuenta la Reserva Natural Valle del Cocora es la entrada, o más bien la antesala al Parque Nacional de los Nevados (otro destino recomendadisimo), en el que podrás disfrutar de un inmenso valle verde de paisajes alucinantes.
    <br>
    Este destino es ideal para aquellas personas que les encanta estar en contacto con la naturaleza, respirar el aire puro y el avistamiento de aves.
    <br>
    ¿Cómo llegar al Valle del Cocora?<br>
    El Valle del Cocora está ubicado en Salento. Lo primero que tienes que hacer es llegar ahí. Puedes ir a Salento desde Armenia en buses que salen de la Terminal de Transporte por un valor de 5.000 COP, o desde Pereira por 8.000 COP, también desde la terminal.
   <br>
    
    Si es primera vez en este departamento, te recomiendo pasar una o dos noches en Salento. Es un pueblo con casitas de colores, lo más de lindo y con paisajes alucinantes. Además, te sirve para ir al Valle del Cocora, pues lo mejor es ir muy temprano.
    
    Para ir allá, ve a la plaza principal, ahí hay Jeeps que salen cada hora y te llevan hasta la entrada de la Reserva, este transporte cuesta alrededor de 4.500 COP.
    
    Por donde te deja el carro tienes que caminar derecho 600 metros y entrar por la Finca La Esperanza. La entrada cuesta 3.000 COP y es el camino más corto y rápido para llegar al Valle del Cocora.
    
    Si quieres estar más tiempo conectado con la naturaleza, te recomiendo girar a la derecha en el camino y empezar un sendero de árboles, puentes, ríos, el canto del Cocora (es el ave por el cual el Valle tiene este nombre) y muchos colibríes.
    
    Este camino te llevará a la entrada de la Reserva Natural de Acaime, más conocida como Casa de Los Colibríes, donde por 5.000 COP, podrás hacer avistamiento de estas hermosas aves y comer un snack típico (agua de panela con queso).
    
    Luego de 40 min más de camino toma el camino a la izquierda, atraviesa la reja, comienza el descenso y espera a que las gigantes palmas del Valle del Cocora se vayan abriendo paso a tus ojos.
    
    Camina el valle, tomate las mejores fotos y disfruta un montón de la belleza del lugar. Cuando quieras irte no hace falta devolverte por donde llegaste. Solo tienes que cruzar todo el valle y saldrás por el camino más corto.
    <br>
    Recomendaciones<br>
    El recorrido completo dura 6 a 7 horas más o menos, por lo que es bueno que te lleves unos tenis ideales para la caminata. Parecen muchas horas, pero en realidad el camino no es tan exigente.
    Vete preparado para lluvia, frio o calor. En el Valle del Cocora nunca se sabe y puedes encontrar el más picante sol, la lluvia inclemente o el frio inclemente.
    Puedes durar todo el tiempo que quieras en Valle del Cocora; ya sea recorriéndolo, descansando en el pasto verde, haciendo las fotos más chulas o simplemente admirando el paisaje, pero recuerda que el último Jeep a Salento sale a las 5:00 de la tarde.
    No puedes acampar en la Reserva del valle, pero a las afueras tienes muchas opciones para hacerlo: camping, hoteles, hostales o casas.
    Lleva abundante agua y algunos snacks para el camino y todo el tiempo que estarás allá. Te servirán para recobrar energía.
    <br>Estos son paisajes que definitivamente vale la pena visitar y sobre todo cuidar. Cosa que te pedimos encarecidamente. Recuerda que es un patrimonio y símbolo nacional.
</p> 
</div> 
