
<div class="col-md-8" align ="justify">
    <img src="./../assets/img/FONDOS/3.jpg" alt="" t class="img-fluid">
<p>Cascadas del rio verde en córdoba, Quindío – turismo de naturaleza Y aventura - trekking.
    El municipio de córdoba a 26 km de armenia capital del departamento del Quindío y donde se encuentra la  reserva natural las cascadas del rio verde con una extensión de 80 hectáreas de hermosos bosques nativos, está ubicada a 2.100 msnm en la vereda mediacara, desde el municipio de córdoba se llega en jeep “willys” a la reserva por una vía sin pavimentar de 8 km y luego 1 km más, caminando por un sendero en travesía, donde encontraremos miradores, quebradas y aves para observar. 
    <br>La reserva natural, además de ser un santuario natural está ubicada en el centro de la “provincia del kakataima”, una de las regiones más prósperas del “pueblo pijao”, el pueblo ancestral que combatió a los conquistadores por más de 100 años, defendiendo su territorio, su cultura y su lengua.
    <br>Vive con nosotros una experiencia de conservación consolidada de agua, árboles gigantes y animales silvestres.
    <br>Hacemos parte de una comunidad campesina que por más de medio siglo, fuimos víctimas de la guerra y del conflicto interno. Las nuevas generaciones de habitantes hacemos un esfuerzo extraordinario para reorganizar nuestras vidas y aprender a vivir en paz.
    <br>Sorpréndete con las cascadas de aguas cristalinas que brotan majestuosas de la montaña para recordarnos que hay un orden perfecto en el universo que todos debemos comprender y conservar. 
    Tenemos para ti una aventura - en el corazón de la naturaleza
    Estamos ubicados a 8 km del municipio de Córdoba Quindío Colombia,
    <br>El ingreso a cascadas del rio verde se realiza UNICAMENTE mediante reserva previa por razones de logística.
    <br> Viva una experiencia en la reserva natural, caídas de agua majestuosas, diversión, aventura, tranquilidad, bosques, miradores, paisaje.
    <br>Tenemos para ti una aventura En el corazón de la naturaleza
    <br>Estamos ubicados a 8 km del municipio de Córdoba Quindío Colombia,
    <br>El ingreso a cascadas del rio verde se realiza UNICAMENTE mediante reserva previa por razones de logística.
    <br>
    Información y reservas:
    3218128456
    </p>
</div>
