<div class="tm-container-outer" id="tm-section-2">
    <section class="tm-slideshow-section">
        <div class="tm-slideshow">
            <img src="../../assets/img/NEVADO.jpg" height="300" width="700" alt="Image">
            <img src="../../assets/img/RECINTO.jpg" height="300" width="700" alt="Image">
            <img src="../../assets/img/RIO.jpg" height="300" width="700" alt="Image">
        </div>
        <div class="tm-slideshow-description tm-bg-primary">
            <h2 class="">CALDAS</h2>
            <p>Caldas es un departamento colombiano con un desarrollo, principalmente agrícola, ganadero y turístico. Pertenece al eje cafetero por eso la belleza de sus montañas y la calidez de su gente te van a cautivar..</p>

        </div>
    </section>
    <section class="clearfix tm-slideshow-section tm-slideshow-section-reverse">

        <div class="tm-right tm-slideshow tm-slideshow-highlight">
            <img src="../../assets/img/POPORO.jpg" height="300" width="700" alt="Image">
            <img src="../../assets/img/COCORA.jpg" height="300" width="700" alt="Image">
            <img src="../../assets/img/PCAFE.jpg" height="300" width="700" alt="Image">
        </div>

        <div class="tm-slideshow-description tm-slideshow-description-left tm-bg-highlight">
            <h2 class="">QUINDIO</h2>
            <p>Recostado en la cordillera Central, entre cafetales rebosantes, está el departamento del Quindío, uno de los más pequeños de Colombia, cuya extensión reducida es totalmente opuesta a la interminable lista de recursos naturales y de atractivos
                turísticos que motivan su frecuente visita. Además, la región reúne una serie de ventajas para hacer más grato su recorrido; entre otras cosas, por la cercanía entre los destinos y las buenas y variadas alternativas para llegar a ellos..</p>
        </div>

    </section>
    <section class="tm-slideshow-section">
        <div class="tm-slideshow">
            <img src="../assets/img/TT.jpg" height="300" width="700" alt="Image">
            <img src="../assets/img/NN.jpg" height="300" width="700" alt="Image">
            <img src="../assets/img/SAN.jpg" height="300" width="700" alt="Image">
        </div>
        <div class="tm-slideshow-description tm-bg-primary">
            <h2 class="">RISARALDA</h2>
            <p>Llegar a Risaralda es como sentirse en casa, la amabilidad de su gente es fundamental, su delicioso clima de 24°C promedio te invita a recorrerla y visitar hermosos lugares que te conectan con la naturaleza como Parque Nacional Natural Los
                Nevados, el Santuario de fauna y flora Otún Quimbaya y el Parque Nacional Natural Tatamá.</p>

        </div>
    </section>

</div>
<div class="tm-container-outer" id="tm-section-3">
    <ul class="nav nav-pills tm-tabs-links">
        <li class="tm-tab-link-li">
            <a href="#1a" data-toggle="tab" class="tm-tab-link">
                <img src="../../assets/img/mejor/img1.jpg" alt="Image" height="200" width="200" class="img-fluid"> Filandia </a>
        </li>
        <li class="tm-tab-link-li">
            <a href="#2a" data-toggle="tab" class="tm-tab-link">
                <img src="../../assets/img/mejor/img4.jpg" alt="Image" height="200" width="200" class="img-fluid"> Salamina
            </a>
        </li>
        <li class="tm-tab-link-li">
            <a href="#3a" data-toggle="tab" class="tm-tab-link">
                <img src="../../assets/img/mejor/img8.jpg" alt="Image" height="200" width="200" class="img-fluid"> Pijao
            </a>
        </li>
        <li class="tm-tab-link-li">
            <a href="#1a" data-toggle="tab" class="tm-tab-link">
                <img src="../../assets/img/COCORA.jpg" alt="Image" height="200" width="200" class="img-fluid"> Valle del cocora </a>
        </li>
        <li class="tm-tab-link-li">
            <a href="#2a" data-toggle="tab" class="tm-tab-link">
                <img src="../../assets/img/NEVADO.jpg" alt="Image" height="200" width="200" class="img-fluid"> Nevado del Ruis
            </a>
        </li>
        <li class="tm-tab-link-li">
            <a href="#3a" data-toggle="tab" class="tm-tab-link">
                <img src="../../assets/img/PCAFE.jpg" alt="Image" height="200" width="200" class="img-fluid"> Parque del café
            </a>
        </li>
        <li class="tm-tab-link-li">
            <a href="#2a" data-toggle="tab" class="tm-tab-link">
                <img src="../../assets/img/POPORO.jpg" alt="Image" height="200" width="200" class="img-fluid"> Museo de Oro
            </a>
        </li>
        <li class="tm-tab-link-li">
            <a href="#3a" data-toggle="tab" class="tm-tab-link">
                <img src="../../assets/img/NN.jpg" alt="Image" height="200" width="200" class="img-fluid"> Parque Nacional de los Nevados
            </a>
        </li>

    </ul>
    <div class="tab-content clearfix">

        <!-- Tab 1 -->
        <div class="tab-pane fade" id="1a">
            <div class="tm-recommended-place-wrap">
                <div class="tm-recommended-place">
                    <img src="assets/img/mejor/hotel1.jpg" alt="Image" height="200" width="200" class="img-fluid tm-recommended-img">
                    <div class="tm-recommended-description-box">
                        <h3 class="tm-recommended-title">Hotel Salento</h3>
                        <p class="tm-text-highlight">Cerca a todo</p>
                        <p class="tm-text-gray">El mejor lugar para descansar y disfrutar</p>
                    </div>
                    <a href="#" class="tm-recommended-price-box">
                        <p class="tm-recommended-price">$80000</p>
                        <p class="tm-recommended-price-link">Continue Reading</p>
                    </a>
                </div>
                <div class="tm-recommended-place-wrap">
                    <div class="tm-recommended-place">
                        <img src="assets/img/mejor/hotel2.jpg" alt="Image" height="200" width="200" class="img-fluid tm-recommended-img">
                        <div class="tm-recommended-description-box">
                            <h3 class="tm-recommended-title">Hotel Salento</h3>
                            <p class="tm-text-highlight">Cerca a todo</p>
                            <p class="tm-text-gray">El mejor lugar para descansar y disfrutar</p>
                        </div>
                        <a href="#" class="tm-recommended-price-box">
                            <p class="tm-recommended-price">$80000</p>
                            <p class="tm-recommended-price-link">Continue Reading</p>
                        </a>
                    </div>
                    <div class="tm-recommended-place-wrap">
                        <div class="tm-recommended-place">
                            <img src="assets/img/mejor/hotel3.jpg" alt="Image" height="200" width="200" class="img-fluid tm-recommended-img">
                            <div class="tm-recommended-description-box">
                                <h3 class="tm-recommended-title">Hotel Salento</h3>
                                <p class="tm-text-highlight">Cerca a todo</p>
                                <p class="tm-text-gray">El mejor lugar para descansar y disfrutar</p>
                            </div>
                            <a href="#" class="tm-recommended-price-box">
                                <p class="tm-recommended-price">$80000</p>
                                <p class="tm-recommended-price-link">Continue Reading</p>
                            </a>
                        </div>

                        <a href="#" class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show More Places</a>
                    </div>
                    <!-- tab-pane -->
                </div>
            </div>