<div class="col-md-8" align ="justify">     
    

    <img src="./../assets/img/FONDOS/6.jpg" alt=""  class="img-fluid"> 
<p>
    El Ecoparque los Yarumos es un lugar en el cual podrás pasar un día inolvidable. Disfrutando de todos sus atractivos como las 3 líneas de canopy, barranquismo, puente tibetano, muro de escalada, sendero ecológico, actividades culturales para grandes y chicos, información y conocimiento de fauna y flora de la región y además de uno de los mejores miradores de la ciudad deportes, juegos y aventuras hacen de este parque, donde también se puede ver 180 especies de aves como el carriqui, perdices y pavas.
<br>
    Al entrar al ecoparque los Yarumos encontraras una cara alegre que te contara las cosas bellas que allí veras, también encontraras atracciones y la Feria Infantil con atracciones mecánicas, actividades ludicas y ambientales y mucha adrenalina para quemar. Nuestros guías son los mas preparados y van por los senderos del parque contando las historias y lo que el visitante quiere saber de los arboles y los senderos.
    <br>

    Próximamente BioMa pabellón interactivo de ciencia y tecnología una iniciativa de la Alcaldía de Manizales y el aporte de 4000 millones de pesos de EPM CHEC
    <br>

    Ubicación<br>
    Sector de la Ciudad: Barrio Minitas<br>
    Dirección: CALLE 61B # 15 A 01<br>
    Teléfono: +57 (6) 8753110<br>
    E-mail: turismo@culturayturismomanizales.gov.co<br>
    
   
    Además sus actividades tradicionales, como senderismo y canopy, ahora ofrece descenso por cascadas.
    <br>
    Con una temperatura de 16 grados, y en medio de un bosque de niebla que alcanza las 53.3 hectáreas de extensión, una nueva oferta de turismo de aventura y naturaleza se abre en el Ecoparque Los Yarumos, en Manizales,…
    
    Las actividades van desde escalar un muro de 15 metros y probar las destrezas de resistencia; atravesar un puente tibetano de 120 metros de largo y 70 de alto (rozando las copas de los árboles), hasta descender por dos de las siete ‘Cascadas de los siete colores’, para continuar la expedición entre el espesor de las húmedas montañas.
    
    “También tenemos un circuito de cuerdas altas, plataformas por el aire, puentes colgantes, troncos transversales y canopy de 15 metros de altura”, contó Cristian Arango, coordinador de Ecoaventura Aguitec, la agremiación de guías de turismo de Caldas encargada de coordinar la Red de Ecoparques de Manizales.
    <br>
    El recorrido, que se hace por una, varias o todas las atracciones, dependiendo de lo que las personas elijan, también incluye el paso por senderos, ascenso en montañas y avistamiento de aves.
    
    Además, este último se puede organizar en un programa especial, que se realiza los primeros sábados de cada mes, y que no solo se hace en este, sino en toda la red de Ecoparques de Manizales.
    <br>
    
    El ecoparque está abierto de martes a domingo (y si es lunes festivo, desde el miércoles), de 9 de la mañana a 5:30 de la tarde. Y aunque no se abre el primer día de la semana, por mantenimiento, si un grupo quiere ir, se abre el parque solo para que hagan el recorrido.
</p> 
</div> 
