<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="col-md-12">
    <div class="row">
        <div class="col-md-2">
            <div class="topnav">
                <img width="150" height="200" src="assets/img/pc.png">
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="float-right">
                        <select class="sel">
                            <option value="ayuda0">¿Podemos Ayudarte?</option>
                            <option value="ayuda1">¿Podemos Ayudarte1?</option>
                            <option value="ayuda2">¿Podemos Ayudarte2?</option>
                        </select>
                    </div>
                    <div class="float-right">
                        <div class="icon-bar">
                            <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
                            <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="topnav">
                                <div class="float-right">

                                    <input type="text" placeholder="Buscar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="vertical-menu">
                            <a [routerLink]="['/']" class="active">Home</a>
                            <a href="#">Descubre el Eje</a>
                            <a href="#">Donde Conocer</a>
                            <a href="#">Ferias y Fiestas</a>

                            <a [routerLink]="['/listar-administradores']">listar-administradores</a>
                            <a [routerLink]="['/register-admin']">REGISTRAR aDMIN</a>
                            <a [routerLink]="['/registrar-lugar']">REGISTRAR Lugar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>