<div class="col-md-8" align ="justify">
    <img src="../../assets/img/FONDOS/2.jpg" alt=""  class="img-fluid">
    <p>
        Los Termales Santa Rosa de Cabal se encuentran ubicados en el municipio que lleva el mismo nombre, a pocos kilometros de Pereira. Se trata de un sitio privilegiado para la recreación y el descanso, con un entorno ecológico único. Ofreces a los visitantes montañas, cascadas y piscinas de agua termal y agua fría, así como rutas ecológicas.
        Balneario Termales Santa Rosa de Cabal
        Dentro de los servicios que ofrece el balneario, uno de los mayores atractivos turísticos del triangulo del café, se encuentran tres piscinas termales para adultos y una para niños, restaurante con gran variedad de platos a la carta y menú del día a precios económicos, vestidores, sala de masajes, parqueadero vigilado, televisión satelital, internet WI-FI y caminatas ecológicas con guías especializados, 
        Se recomienda el uso de calzado cómodo para el desplazamiento hacia y desde el balneario a la entrada, así como calzado antideslizante y traje de baño ​en el sector de las piscinas.
        Expedición Termal
        En esta expedición podrá conocer, aprender e interactuar con la naturaleza, en una visita a los nacimientos de las aguas termales, mientras disfruta de la observación de fauna y flora de la región. 
        El recorrido se hace por la ribera de la quebrada Santa Elena y numerosos nacimientos de agua tanto termal como natural manantial fría. El eje central es el río San Ramón, que recorre 12 Km desde su nacimiento a 4350 msnm hasta el Hotel Termales Santa Rosa de Cabal a 2150 msnm
        Spa Santa Rosa de Cabal
        En el Spa San Miguel podrá realizarse masajes anti-estres de 30, 45 y 60 minutos, así como exfoliaciones y relexoterapia.
        Tarifas de los Termales Santa Rosa de Cabal
        Temporada Alta
        Fines de semana, puentes festivos, semana santa, vacaciones de junio a agosto, semana de receso de octubre y vacaciones de fin de año de diciembre.
        <br>Adultos - $36.000        
        <br>Niños - $18.000
        <br>
        Temporada Baja
        <br>
        Lunes no festivos a viernes. No aplica para fechas de la temporada vacacional.
        <br>
        Adultos - $22.000
        <br>
        Niños - $11.000
        <br>
        Mayores Informes
        <br>
        Para más información sobre Termales Santa Rosa de Cabal, comuníquese al (6) 3645500 ó a los celulares 320 680 3604 y 320 680 3615, o ingrese a www.termales.com.co.
    <p>
    </div>    