<div class="col-10, col-sm-10, col-md-10, col-lg-10, col-xl-10">
    <div class="container">
        <div class="text-center">
            <h1>Preguntas Frecuentes</h1>
            <br>
            <br>
            <div class="row">
                <div id="titl"> Antes de viajar</div>
            </div>
            <br>
            <br>
            <div class="row">
                <div id="titl">Visas</div>
            </div>
            <br>
            <br>
        </div>
        <div class="row">

            Los ciudadanos de algunos países necesitan presentar una visa de turista que deben tramitar ante las
            embajadas
            o consulados de Colombia en el exterior. En el siguiente enlace podrás verificar si requieres visa o no.
            <br>
            <br>

            Consulta los países que requieren visa en
            <br>
            <br>
            <a href="https://www.cancilleria.gov.co/tramites_servicios/visa/requisitos">
                https://www.cancilleria.gov.co/tramites_servicios/visa/requisitos</a>.
            <br>
            Así mismo, revisa la Resolución 1128 de 2019:
            <br>
            <a
                href="https://www.cancilleria.gov.co/sites/default/files/resolucion_1128_de_2018.pdf">https://www.cancilleria.gov.co/sites/default/files/resolucion_1128_de_2018.pdf</a>.
        </div>

        <div class="row" id="titl">
            Otro tipo de visas
        </div>

        <div class="row">
            <br>
            <br>

            Recuerda que hay diferentes tipos de visado para quienes no viajan a Colombia por motivos turísticos. Si es
            tu caso, puedes verificar los requisitos para visado de estudios en:
            <br>
            <a
                href="https://www.cancilleria.gov.co/tramites_servicios/visa/m-estudiantes">https://www.cancilleria.gov.co/tramites_servicios/visa/m-estudiantes</a>.

            Si lo que necesitas es un visado de trabajo, consulta:
            <a
                href="https://www.cancilleria.gov.co/tramites_servicios/visa/m-trabajador">https://www.cancilleria.gov.co/tramites_servicios/visa/m-trabajador</a>.

        </div>


        <div class="text-center">

            <h1>Entrando a Colombia</h1>

        </div>
        <div id="titl">Entrada</div>
        <div class="row">

            Al entrar a Colombia, debes tener en cuenta algunas recomendaciones importantes. En esta sección,
            encontrarás la información relacionada con el ingreso de tu equipaje, la normatividad de la entrada de
            moneda extranjera y de las importaciones temporales.

            <br>
            <br>

            Durante la estadía en nuestro país, debes también tener presente los números de emergencia y las entidades
            que velan por la seguridad y bienestar. En esta página te facilitamos todos estos datos.
        </div>

        <div id="titl">
            Tasa aeroportuaria</div>
        <div class="row">
            Es el valor que se cobra a los pasajeros por el uso de las instalaciones aeroportuarias.
            Es
            obligatorio
            para el pasajero pagar el valor en la prestación del servicio de transporte aéreo comercial regular y no
            regular.

            <br>
            <br>

            Para mayor información, consulta en la Jefatura de Servicios Aeroportuarios. Teléfonos: + 57 (1) 425 1000, +
            57
            (1) 425 1000, + 57 (1) 425 1000 ext. 2588 y 2083.
            <br>
            <br>
            Fax: + 57 (1) 413 9459 o comunícate con la aerolínea, algunas ya tienen incluido este costo en sus tarifas.
            <br>
            <br>
            Para conocer el valor y las condiciones de la tasa aeroportuaria, visita
            <a
                href="http://www.aerocivil.gov.co/atencion/participacion/Proyectos%20de%20normatividad/Proyecto%20-%20Ap%C3%A9ndice%202%20RAC%2014%20-%20Cobro%20tasas%20aeroportuarias.pdf">
                http://www.aerocivil.gov.co/atencion/participacion/Proyectos%20de%20normatividad/Proyecto%20-%20Ap%C3%A9ndice%202%20RAC%2014%20-%20Cobro%20tasas%20aeroportuarias.pdf</a>.


        </div>
        <br>
        <br>
        <div id="titl"> Equipaje </div>
        <br>
        <div class="row">
            Al ingreso a Colombia, el pasajero puede ingresar dos tipos de equipaje: equipaje
            acompañado y equipaje no acompañado.

        </div>
        <br>
        <br>
        <div id="titl"> Equipaje acompañado </div>
        <br>
        <br>
        <div class="row">
            Se trata del equipaje que ingresa el viajero al momento de su entrada al país. Este puede
            estar constituido por sus efectos personales y artículos permitidos.
        </div>
        <br>
        <br>
        <div id="titl"> Equipaje no acompañado </div>
        <br>
        <br>
        <div class="row"> Es el que ingresa al país con anterioridad o posterioridad a la llegada del viajero. Este
            debe venir consignado a su nombre.

            <br>
            <br>
            Si ya se ingresó o se va a ingresar parte del equipaje por carga, se debe declarar en el formulario de
            Declaración de Equipaje y Dinero, e informar al funcionario aduanero antes de salir de la zona aduanera. De
            lo
            contrario, el envío tendrá el trámite de nacionalización ordinaria. El equipaje que entra treinta días antes
            o
            noventa días después de la fecha de la llegada del viajero, debe pagar un 15% de impuesto.
        </div>
        <br>
        <br>
        <div id="titl"> Ingreso de dinero y mercancías </div>
        <br>
        <br>
        <div class="row">Además de sus efectos personales, cada viajero tiene derecho a ingresar a Colombia dinero
            y mercancías. Si estos están o no libres de impuestos, depende de las siguientes condiciones:
        </div>
        <br>
        <br>
        <div class="row">
            <i class="fa fa-asterisk">US$ 10.000 o su equivalente en cualquier moneda. Si la cantidad portada supera
                esta
                cifra, es necesario declarar dicho ingreso ante las autoridades aduaneras correspondientes.</i>

        </div>

        <br>
        <div class="row">
            <i class="fa fa-asterisk">Artículos de uso familiar y personal en cantidades no comerciales hasta por US$
                1.500. Estos artículos
                están
                libres de impuestos y deben ingresar como equipaje acompañado.</i>

        </div>
        <br>
        <div class="row">
            <i class="fa fa-asterisk">Artículos de uso doméstico, deportivos o propios del arte, profesión u oficio del
                viajero, en cantidad
                máxima
                de
                3
                de cada tipo, hasta por US$ 2.500. Estos bienes deben pagar un tributo de 15% y el viajero debe cumplir
                con
                una
                permanencia en el exterior mínima de 5 días. Esto puede ingresar como equipaje acompañado o no
                acompañado.</i>

        </div>
        <br>
        <div class="row">
            <i class="fa fa-asterisk">El ingreso de bienes patrimonio de otros países (bienes culturales, históricos,
                artísticos o ecológicos,
                entre
                otros) debe ser reportado a las autoridades aduaneras. Cabe aclarar que, con relación a los productos
                ecológicos,
                hay procedimientos y normatividades particulares, por lo cual no basta el reporte a la autoridad
                aduanera
                para
                su
                ingreso al país.</i>

        </div>
        <br>

        <div id="titl"> Ingreso de mercancía por parte de los menores de edad </div>

        <br>
        <div class="row">
            Los menores de edad solo pueden introducir mercancías hasta por un valor equivalente al
            50% de los cupos aquí señalados.
            <br>
            Artículos o bienes que no pueden ingresar bajo esta modalidad:
            <br>
        </div>


        <div class="row">
            <i class="fa fa-asterisk">Vehículos y material de vías férreas o automóviles</i>

        </div>
        <br>
        <div class="row">
            <i class="fa fa-asterisk">Aeronaves o aerodinos, globos, dirigibles y planeadores</i>

        </div>
        <br>
        <div class="row">
            <i class="fa fa-asterisk"> Barcos o cualquier artefacto flotante o sus partes</i>

        </div>
        <br>
        <div class="row">
            <i class="fa fa-asterisk"> Armas, municiones y explosivos</i>

        </div>
        <br>
        <div class="row">
            <i class="fa fa-asterisk">Material de transporte, como llantas y repuestos para carro o maquinaria</i>

        </div>
        <br>
        <div class="row">
            <i class="fa fa-asterisk"> Excepciones: bicicletas, sillas de ruedas y coches para niños</i>

        </div>
        <br>
        <div class="row">
            <i class="fa fa-asterisk"> Ejemplo: Si el viajero ha permanecido afuera más de cinco días, el cupo es de
                hasta de US$ 4.000. Aquí
                se
                incluyen los artículos de uso doméstico, deportivos y los que son propios del arte u oficio del viajero.
                Puede
                ingresar hasta 3 unidades de cada uno, que no excedan el cupo de US$ 4.000, de los cuales US$ 1.500
                están
                libres de impuestos. Los US$ 2.500 restantes pagarán el 15% de impuestos (una sola vez al año). Por lo
                anterior, es importante llevar siempre la factura de los artículos adquiridos para verificar su
                valor.</i>

        </div>
        <br>
    </div>
    <br>
    <br>
    <br>
    
</div>