<script src="/src/JS/scripts.js"></script>

<div class="col-md-12">
    <div class="text-center">
        <h1>Registrar Lugar</h1>
    </div>

</div>
<br />
<br />
<br />


<div class="col-10, col-sm-10, col-md-10, col-lg-10, col-xl-10">
    <div class="text-center">
        <form novalidate #f="ngForm" (ngSubmit)="form-group">
            <div class="form-group">
                <label for="">¿Cuál es el nombre del lugar que quieres registrar? *</label>
                <input ngModel required placeholder="Ingresar nombre del lugar" type="text"
                    [(ngModel)]=AgregarLugarRegistro.nombreLugar name="nombreLugar" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <label for="">Danos una descripcion del lugar ( Hasta 1090 caracteres) *</label>
                <textarea ngModel required maxlength="1090"
                    placeholder="Ingrese una descripcion del lugar Hasta 1090 caracteres"
                    [(ngModel)]=AgregarLugarRegistro.descripcionLugar name="descripcionLugar" class="form-control"
                    cols="60" rows="7"></textarea>
            </div>
            <label for="">Breve descripcion de ¿que hacer? (Hasta 580 caracteres)</label>
            <br>
            <div class="form-group">
                <textarea ngModel required maxlength="580" placeholder="Ingrese una breve descripcion de que hacer"
                    [(ngModel)]=AgregarLugarRegistro.descripcionQueHacer name="descripcionQueHacer" class="form-control"
                    cols="60" rows="7"></textarea>
            </div>
            <br>
            <label for="">Subir fotografias del lugar</label>
            <br>
            <br>
            <div class="form-group">
                <input ngModel required type="url" name="imagenes" class="form-control"
                    [(ngModel)]=AgregarLugarRegistro.imagenes>
            </div>
            <br>
            <br>
            <div class="text-center">
                <button (click)="agregarLugar()" type="submit" class="btn btn-primary" [disabled]="f.invalid">Registrar
                    Lugar</button>
            </div>
            <br>
            <br>

        </form>
        <div class="float-right">

            <a href="#">Terminos y Condicione</a>
            |
            <a href="#">Mapa del sito</a>

        </div>
    </div>
</div>
<br>
<br>