<div class="col-md-12">
    <div class="text-center">
        <h1>Registrar Lugar</h1>
    </div>

</div>
<br />
<br />
<br />

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <label for="">¿Cuál es el nombre del lugar que quieres registrar? *</label>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2"></div>
    <br>
    <div class="col-md-6">
        <input type="text" id="lugarRegistrar" size="60">
    </div>
    <div class="col-md-4"></div>

    <div class="col-md-2"></div>
    <div class="col-md-6">
        <label for="">Danos una descripcion del lugar ( Hasta 1090 caracteres) *</label>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2"></div>
    <br>
    <div class="col-md-6">
        <textarea name="" id="descripcionlugarRegistrar" cols="60" rows="7"></textarea>

    </div>
    <div class="col-md-4"></div>

    <div class="col-md-2"></div>
    <div class="col-md-6">
        <label for="">Breve descripcion de ¿que hacer? (Hasta 580 caracteres)</label>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2"></div>
    <br>
    <div class="col-md-6">
        <textarea name="" id="lugarRegistrar" cols="60" rows="7"></textarea>

    </div>
    <div class="col-md-4"></div>
</div>



<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-6">
        <label for="">Breve descripcion del Evento (Hasta 580 caracteres)</label>
    </div>
    <div class="col-md-4"></div>
    <!-- inicio nueva fila-->
    <div class="col-md-2"></div>
    <br>
    <div class="col-md-6">
        <textarea name="" id="lugarRegistrar" cols="60" rows="7"></textarea>
    </div>
    <div class="col-md-2"></div>
</div>


<br>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <label for="">Subir fotografias del lugar</label>
    </div>
    
    
</div>

<br>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <input type="image" id="subirArchivos">
    </div>
    <div class="col-md-8">
        <label for=""> Los Archivos deben ser menores a 2MB y deben estar en .png o .jpg</label>
    </div>
</div>
<br>


<br>
<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <button class="button-Registar" id="btn_registrarLugar">Registrar Lugar</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <button class="button-Registar" id="btn_cancelar">Cancelar</button>
        </div>

    </div>
</div>
<br>
<br>

<div class="float-right">s

    <a href="#">Terminos y Condicione</a>
    |
    <a href="#">Mapa del sito</a>

</div>

<br>
<br>    