<div>
    <h1> {{lug.nombreLugar}}</h1>
</div>


    <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-8">

            <img src={{lug.imagenes}} class="mediana">
            <div class="col-md-1"></div>
        </div>

        <br><br><br>
        <div class="container">
            <div class="col-md-12">
                <div class="text-center">

                    <h2>  Descripcion del Lugar</h2>
                </div>
            </div>

            <br>
            <div class="container">
                <div class="col-md-12">
                    <div class="text-center">

                       {{lug.descripcionLugar}}
                    </div>
                </div>

                <br><br><br>

                <div class="container">
                    <div class="col-md-12">
                        <div class="text-center">

                         <h2>Datos sobre {{lug.nombreLugar}}</h2>   
                        </div>
                    </div>

                    <br>

                    <div class="container">
                        <div class="col-md-12">
                            <div class="text-center">

                                {{lug.descripcionQueHacer}}
                            </div>
                        </div>

                    </div>
                    <br><br><br>
                </div>

            </div>
        </div>
    </div>
