<div class="col-md-8" align ="justify">
    <img src="./../assets/img/FONDOS/4.jpg" alt=""  class="img-fluid"> 
    <p>
        Su principal objetivo es permitir a los visitantes conocer la colección más grande de bambúes de Colombia, que aprendan sobre los aspectos generales de los bambúes como su diversidad, métodos de propagación, manejo sostenible, cosecha, post-cosecha, usos y/o aplicaciones, flora y fauna asociada; también que conozcan de primera mano el manejo, producción y administración de una finca certificada bajo producción orgánica.
        <br>
        Servicios
        <br>
        Senderos ecológicos
        <br>
        Talleres temáticos especializados
        <br>
        Recorridos por los caminos de la Guadua del Eje Cafetero
        <br>
        Artesanías y muebles especializados en Guadua y Bambú
        <br>
        Vivero especializado en Guaduas y Bambúes exóticos
        <br>
        Comercialización de alimentos orgánicos
        <br>
        Ecoturismo
        <br>
        Vive la experiencia del Eco-turismo! 
        <br>
        Aprecie la riqueza arquitectónica del Eje Cafetero.
        <br>
        Disfrute de la belleza del Paisaje Cultural Cafetero
        <br>
        Aprenda sobre las bondades del Bambú y la Guadua
        <br>
        Profundice en los aspectos de la Agricultura Orgánica
        <br>
        Disfrute en un entorno rural que satisface las necesidades básicas esenciales para aprender, concentrarse, relajarse y renovar el espíritu, viva la experiencia del Agroturismo Cultural.
        Contacto
        <br>
        En el Paraíso del Bambú y la Guadua se atiende únicamente con reservas, en horas de la mañana o de la tarde, a continuación ponemos a su disposición las vías de contacto:
        Ximena Londoño
        <br>
        Ubicación: Finca El Bambusal, Vereda La Esmeralda, Montenegro,Quindio, Colombia.
        <br>
        Celular (057) 3128437688 Email: contacto@bambuturismo.com
        <br>
        Página Web: bambuturismo.com
        
    </div> 