<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="col-xs-12">
    <div class="text-center">
        <div class="topnav">
            <img width="150" height="150" src="assets/img/log.jpg">
        </div>
        <br>
        <input class="otherinput" placeholder="Nombre Completo" type="text" id="input_nombreAdministrador" />
        <br><br />
        <input class="otherinput" placeholder="Nombre Usuario" type="text" id="input_nombreUsuarioAdministrador" />
        <br><br />
        <input class="otherinput" placeholder="Tipo documento" type="text" id="input_tipoDocumentoAdministrador" />
        <br><br />
        <input class="Rinput" placeholder="Numero de Documento" type="number" id="input_documentoAdministrador" />
        <br><br />
        <input class="otherinput" placeholder="Correo Electronico" type="email" id="input_correoAdministrador" />
        <br><br />
        <input class="otherinput" placeholder="Codigo de Aceptación" type="text" id="input_codigoAdministrador" />
        <br><br />
        <input class="otherinput" placeholder="Contraseña" type="password" id="input_contraseñaAdministrador" />
        <br><br />
        <button class="button-Registar" id="btn_registarAdministrador">Registrar</button>
    </div>
</div>
