<body>
    <div class="page-wrap">

        <!-- Main -->
        <section id="main">

            <!-- Banner -->
            <section id="banner">
                <div class="inner">
                    <h1>BIENVENIDO AL EJE CAFETERO</h1>
                    <p>Podras disfrutar de maravillosas culturas y paisajes fabulosos </p>
                    <ul class="actions">
                        <li><a href="#galleries" class="button alt scrolly big">Continuar</a></li>
                    </ul>
                </div>

            </section>



            <!-- Gallery -->
            <section id="galleries">
                <div class="row">
                    <div class="col-md-3"></div>

                    <iframe width="1700" height="300" src="https://www.youtube.com/embed/duOjHF85Abw" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

                <!-- Photo Galleries -->
                <div class="gallery">
                    <div class="content">
                        <div class="media">
                            <button (click)="Nevado()" type="submit" class="btn btn-primary">
                                <img src="../../assets/img/FONDOS/1.jpg" alt="" class="img-fluid">
                            </button>
                        </div>
                        <div class="media">
                            <button (click)="Termal()" type="submit" class="btn btn-primary">
                                <img src="../../assets/img/FONDOS/2.jpg" alt="" class="img-fluid">
                            </button>
                        </div>
                        <div class="media">

                            <button (click)="Rio()" type="submit" class="btn btn-primary">
                                <img src="./../assets/img/FONDOS/3.jpg" alt="" t class="img-fluid">
                            </button>
                        </div>
                        <div class="media">
                            <button (click)="Paraiso()" type="submit" class="btn btn-primary">
                                <img src="./../assets/img/FONDOS/4.jpg" alt="" class="img-fluid">
                            </button>
                        </div>
                        <div class="media">
                            <button (click)="Balsaje()" type="submit" class="btn btn-primary">
                                <img src="./../assets/img/FONDOS/5.jpg" alt="" class="img-fluid">
                            </button>
                        </div>
                        <div class="media">
                            <button (click)="Ecoparque()" type="submit" class="btn btn-primary">
                                <img src="./../assets/img/FONDOS/6.jpg" alt="" class="img-fluid">
                            </button>
                        </div>
                        <div class="media">
                            <button (click)="Cocora()" type="submit" class="btn btn-primary">
                                <img src="./../assets/img/FONDOS/7.jpg" alt="" class="img-fluid">
                            </button>
                        </div>
                        <div class="media">
                            <button (click)="Chipre()" type="submit" class="btn btn-primary">
                                <img src="./../assets/img/FONDOS/8.jpg" alt="" class="img-fluid">
                            </button>
                        </div>
                    </div>


                    <div class="content-all">
                        <div class="content-carrousel">
                            <figure><img src="./assets/img/FONDOS/1.jpg"></figure>
                            <figure><img src="./assets/img/FONDOS/2.jpg"></figure>
                            <figure><img src="./assets/img/FONDOS/3.jpg"></figure>
                            <figure><img src="./assets/img/FONDOS/4.jpg"></figure>
                            <figure><img src="./assets/img/FONDOS/5.jpg"></figure>
                            <figure><img src="./assets/img/FONDOS/6.jpg"></figure>
                            <figure><img src="./assets/img/FONDOS/7.jpg"></figure>
                            <figure><img src="./assets/img/FONDOS/8.jpg"></figure>
                            <figure><img src="./assets/img/FONDOS/9.jpg"></figure>
                            <figure><img src="./assets/img/FONDOS/1.jpg"></figure>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>


            </section>
        </section>
    </div>
</body>